* {
	padding: 0px;
	margin: 0px;
	font-family: helvetica;
}

a {
	text-decoration: none;	
}

h2 {
	margin-bottom: 0.5em;
}

#wrapper {

}

#header {
	font-weight: bold;
	font-size: 15px;
	background-color: #fcc;
	border-bottom: 1px solid #f99;
	height: 20px;
	color: #755;
	padding: 10px;
}

#menu {
	float: left;
	background-color: #fee; 
	width: 10em;
	padding-top: 1em;
	padding-bottom: 1em;
}

#content {
	padding-top: 1em;
	padding-right: 1em;
	margin-left:11em;
}

.savebutton {
	padding: 0.3em;
	margin-bottom: 0.5em;
}

.newEntryButton {
	margin-right: 0.3em;
}

.menu_left ul {
	padding-left: 35px;
}

.menu_left a {
	color: #555;
	text-decoration: none;
}

.menu_left #m1 {
	list-style-image:url('icons/application_view_list.png');
}

.menu_left #m2 {
	list-style-image:url('icons/database.png');
}

.menu_left #m22 {
	list-style-image:url('icons/database_key.png');
}

.menu_left #m5 {
	list-style-image:url('icons/server_database.png');
}

.menu_left #m3 {
	list-style-image:url('icons/database_go.png');
}

.menu_left #m4 {
	list-style-image:url('icons/user.png');
}

.logout_button {
	margin-top: 2px;
	margin-right: 10px;
	float:right;
	font-size: 12px;
}

.logout_button a {
	line-height: 16px;
	color: #558;
	text-decoration: none;
	vertical-align: middle;
}

.logout_button img {
	vertical-align: top;	
}

.hairlinebox {
	margin: auto;
	border: 1px solid #ccc;
	padding: 10px;	
}

.list {
	margin-bottom: 0.5em;
}

.list th {
	background-color: #f66;
	padding: 5px;
}

.list td {
	padding: 3px;
	cursor: pointer;
}

.search_highlight {
	color: #f00;
	font-weight: bold;	
}

.box {
	background-color: #eee;
	margin: auto;
	padding: 10px;
	margin-top: 20px;
}

.msgbox {
	font-size: 14px;	
}

.msgbox img {
	width: 20px;
	margin-right: 3px;
	vertical-align: bottom;
}

.box_ok {
	margin-bottom: 10px;
	padding: 10px;
	font-weight: bold;
	border: 5px #0e0 solid;
	background-color: #9f9;
}

.box_warning {
	margin-bottom: 10px;
	padding: 10px;
	font-weight: bold;
	border: 5px #ee0 solid;
	background-color: #ff9;
}

.box_error {
	margin-bottom: 10px;
	padding: 10px;
	font-weight: bold;
	border: 5px #e00 solid;
	background-color: #f99;
}

.box_info {
	margin-bottom: 10px;
	padding: 10px;
	font-weight: bold;
	border: 5px #77f solid;
	background-color: #ccf;
}

.copyleft {
	margin-top: 20px;
	width: 100%;
	text-align: center;
	font-size: 12px;
	color: #999;
}
